<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCGRNomoeRTamr2TYWOteRbUls8-uctaE4</string>
	<key>GCM_SENDER_ID</key>
	<string>838455717399</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.shop.hardrobe.app</string>
	<key>PROJECT_ID</key>
	<string>herdrobe-app-dev</string>
	<key>STORAGE_BUCKET</key>
	<string>herdrobe-app-dev.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:838455717399:ios:17db85d090ea2defcf7652</string>
</dict>
</plist>